---
import Layout from '../../layouts/Layout.astro'
import Hello from '../../components/Hello'
import Navbar from '../../components/Navbar'

import styles from './index.module.scss'
---
<Layout title="About | KMUTT Carnival 2023">
  <main>
    <Navbar styles={styles} />
    <Hello text="Lorem Ipsum!" client:load />
  </main>
</Layout>
