.registerPage {
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 90vh;
        margin: 0 10px;
    }
}
