.form {
  padding: 20px;
  margin: 50px 0;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(95, 55, 51, 0.5) 0%, rgba(77, 43, 40, 0.5) 100%);

  .formGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  h1,
  label {
    color: #ffffff !important;
  }

  @media screen and (max-width: 500px) {
    .formGroup {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
