.eStamp {
  text-align: center;
  width: 512px;
  margin: 0 auto;

  h3 {
    margin-bottom: 30px;
  }

  .stamps {
    margin-block: 20px;
    background: rgba(95, 55, 51, 0.5);
    border-radius: 10px;
    padding: 50px;

    .stampImages {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;

      .image {
        width: 100px;
        user-select: none;
        pointer-events: none;
      }
    }

    @media screen and (max-width: 512px) {
      padding: 20px;

      .stampImages .image {
        width: 80px;
      }
    }

    @media screen and (max-width: 400px) {
      .stampImages .image {
        width: 100%;
      }
    }
  }

  .badgeGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background: rgba(95, 55, 51, 0.5);
    border-radius: 10px;
    gap: 50px;
    padding: 20px;
    margin-bottom: 20px;

    .badge {
      width: 175px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .textGroup {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 24px;
          color: #fff;
        }

        .status {
          font-size: 16px;
          color: #fff;
        }
      }

      &.receive {
        .image {
          filter: drop-shadow(0px 0px 15px #ffa631);
        }

        .textGroup {
          .name {
            color: #ffb031;
          }

          .status {
            color: #ffb031;
          }
        }
      }
    }

    @media screen and (max-width: 512px) {
      flex-direction: column;
      gap: 30px;
      padding: 20px 0;
    }
  }

  @media screen and (max-width: 570px) {
    margin: auto;
    width: auto;
  }
}
