.navbar {
    position: sticky;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(95, 55, 51, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 10px;

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .mobileMenu {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .links > .link, .actionButtonGroup {
            display: none;
        }

        .mobileMenu {
            display: block;
        }
    }
}
