.homePage {
    h1,
    h2,
    h3,
    h4 {
        color: #ffffff;
    }

    .content {
        .departmentActivities {
            padding: 20px 0;
            margin: 20px 50px;
            border-radius: 10px;
            background: rgba(95, 55, 51, 0.5);

            @media screen and (max-width: 768px) {
                padding: 0;
                margin: 20px 10px;
                background: transparent;
            }
        }

        .collegeActivities {
            margin: 0 30px 50px 30px;

            @media screen and (max-width: 768px) {
                margin: 0 10px 50px 10px;
            }
        }
    }
}
