.homePage {
    background-color: #550700;

    h1,
    h2,
    h3,
    h4 {
        color: #ffffff;
    }

    .content {
        .activities {
            padding: 20px 0;
            margin-bottom: 20px;
            margin-inline: 50px;
            border-radius: 10px;
            background: rgba(95, 55, 51, 0.5);
            backdrop-filter: blur(4px);

            @media screen and (max-width: 768px) {
                margin-inline: 10px;
            }
        }
    }
}
