.map {
    margin: 0 auto;
    width: 1024px;

    h2 {
        text-align: center;
        color: #ffffff;
    }

    @media screen and (max-width: 1070px) {
        width: 768px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding-inline: 25px;
    }
}
.mapEmbed {
    width: 650px;
    height: 450px;

    .googleMap {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    @media screen and (max-width: 1070px) {
        width: 500px;
    }

    @media screen and (max-width: 768px) {
        width: 100vw;
        padding-inline: 25px;
    }
}