---
import Layout from '../layouts/Layout.astro'
import Hello from '../components/Hello'
---

<Layout title="Engineering Open house 2023">
  <main>
    <Hello text="Hello KMUTT!" />
  </main>
</Layout>
