.imageSlide {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-inline: 10px;
    animation: fade-in 300ms ease-in;

    .content {
        margin: 0;
        width: 1200px;
        height: 100%;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #622e2e;
        display: relative;
        border-radius: 10px;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center center;
            user-select: none;
            border-radius: 10px;
            pointer-events: none;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
