.events {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;

    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }
}

.button {
    margin-top: 20px;
    text-align: center;

    @media screen and (max-width: 768px) {
        button {
            width: 100%;
        }
    }
}
