.travel {
    background: rgba(95, 55, 51, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        h4 {
            font-size: 16px;
            font-weight: normal;
        }

        .way {
            margin-left: 10px;
        }

        .step {
            margin-bottom: 10px;

            li {
                margin-left: 25px;
            }
        }

        .paragraph,
        .step {
            color: #ffffff;
            font-size: 16px;
            margin-left: 25px;
        }
    }

    .image {
        text-align: center;

        img {
            border-radius: 10px;
        }

        @media screen and (max-width: 375px) {
            img {
                width: 200px;
            }
        }
    }
}
