.parking {
    .parkingInfo {
        background: rgba(95, 55, 51, 0.5);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        .paragraph {
            color: #ffffff;
        }

        .image {
            border-radius: 10px;
        }
    }
}
