.parking {
    margin-bottom: 20px;

    .parkingInfo {
        background: rgba(95, 55, 51, 0.5);
        padding: 20px;
        border-radius: 10px;

        .image {
            border-radius: 10px;
        }
    }
}
